DATA_DIR=/opt/monero/data
GRAFANA_URL=http://mynodeurl.com
P2P_PORT=18080
RESTRICTED_PORT=18081
ZMQ_PORT=18082
UNRESTRICTED_PORT=18083
GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_BASIC_ENABLED=true
GF_AUTH_DISABLE_LOGIN_FORM=true
GF_SECURITY_ADMIN_PASSWORD=xxxxxx
