DATA_DIR=./data
P2P_PORT=18080
RESTRICTED_PORT=18081
ZMQ_PORT=18082
UNRESTRICTED_PORT=18083
P2P_TOR=18084
EXPLORER_PORT=8000
EXPLORER_NOJS=0
EXPLORER_THEME=light
PROM_RETENTION=360d
PROM_TAG=v2.36.0
GRAFANA_URL=http://mynodeurl.com
GRAFANA_TAG=10.1.4
GRAF_PORT=3000
GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_BASIC_ENABLED=true
GF_AUTH_DISABLE_LOGIN_FORM=false
GF_SECURITY_ADMIN_PASSWORD=admin
GF_SECURITY_ADMIN_USER=admin
GF_INSTALL_PLUGINS=
GF_SERVER_SERVE_FROM_SUB_PATH=false
